<section class="about-section">
    <div class="about-content">
      <h2>Développement d'un Chatbot Optimisé pour le Français</h2>
      <p>
        Modèles de Langage à Large Echelle (LLMs) : cas d'étude FSTT.
      </p>
      <h3>Objectif :</h3>
      <p>
        L'objectif proposé pour la mise en place d'un chatbot intelligent basé sur la Génération Augmentée
        de Récupération (RAG), LangChain et les bases de données vectorielles, affinées dans un petit corpus
        français (FSTT et Cours FSTT), démontre un projet complet et ambitieux. Pour l'améliorer davantage
        de manière académique, envisagez les refinements suivants :
      </p>
      <h3>Collecte de données :</h3>
      <p>
        Collectez des données sur la FST de Tanger, vous pouvez créer un scraper pour récupérer les données sur la FSTT, les cours étudiés à la FSTT, les activités.
      </p>
      <h3>Introduction et Motivation :</h3>
      <p>
        Articulez clairement la motivation derrière le choix de RAG, LangChain et des bases de données vectorielles pour le chatbot.
      </p>
      <p>
        Fournissez une brève revue de la littérature sur les technologies de chatbot existantes, en particulier dans le traitement de la langue arabe.
      </p>
      <p>
        Définissez clairement la portée et les limites de votre chatbot.
      </p>
      <!-- Ajoutez d'autres sections au besoin -->
    </div>
  </section>
  

